* {
	box-sizing: border-box;
}

body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	margin:0;
}

.header {
	padding: 20px;
	margin-left: 20px;
	margin-top: 200px;
	color: white;
}

.header h2 {
	font-size: 15px;
}

.row1 {
	background-color: purple;
	width: 35%;
	height: 40px;
	margin-left: 700px;
	margin-top: -350px;
	border-radius:5px;
	text-align: center;
	font-size: 10px;
	color: white;
}

.row1 h2 {
	display: inline-block;
}

.cancel {
	color: red;
}

.row2 {
	background-color: white;
	width:35%;
	height: 450px;
	margin-left: 700px;
	margin-top: 10px;
	border-radius:5px;
}

.firstname input[type=text] {
	margin-top:30px;
	margin-left: 30px;
	width:380px;
	height:40px;
	border-radius:5px;
	font-size: 15px;
	padding-left: 5px;
}

.lastname input[type=text] {
	margin-top:30px;
	margin-left: 30px;
	width:380px;
	height:40px;
	border-radius:5px;
	font-size: 15px;
	padding-left: 5px;
}

.email input[type=text] {
	margin-top:30px;
	margin-left: 30px;
	width:380px;
	height:40px;
	border-radius:5px;
	font-size: 15px;
	padding-left: 5px;
}

.password input[type=text] {
	margin-top:30px;
	margin-left: 30px;
	width:380px;
	height:40px;
	border-radius:5px;
	font-size: 15px;
	padding-left: 5px;
}

.signup {
	background-color: limegreen;
	border: none;
	color: white;
	height: 50px;
	text-align: center;
	display: inline-block;
	font-size:20px;
	margin-top:30px;
	margin-left: 30px;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid black;
	border-radius:5px;
	width:380px;
	}

.signup:hover{
	background-color:orange;
	color:black;
}

.terms {
	margin-top: 30px;
	margin-left: 30px;
}

.ts {
	color: red;
}

.column:after {
	content: "";
	display: table;
	clear:both;
}